body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button {
    font-family: inherit;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0%;
}

.container {
    max-width: 767px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 


/* Header. Logo+navigation */

.header-page {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    background: #FFF;
    position: relative;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 56px;
}

.header-nav .logo-web {
    padding-top: 18px;
    padding-bottom: 18px;
    position: absolute;
    left: 16px;
}

.header-nav .logo-web.is-open {
    display: none;
}

.logo-web {
    color:  #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio-header {
    color:  #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    display: inline-flex;
}

.header-icon-cross {
    display: none;
}

.header-button.is-open .header-icon-burger {
    display: none;
}

.header-button.is-open .header-icon-cross {
    display: block;
}

.header-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
}

.header-menu.is-open {
    display: block;
}

.header-nav-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 168px;
    margin-top: 24px;
}

.header-nav-item {
    color:  #2E2F42;
    letter-spacing: 0.02em;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0;
}

.header-nav-item:hover {
    color: #404BBF;
}

.header-nav-item:focus {
    color: #404BBF;
}

.header-nav-link {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-bottom: 48px;
}

.header-address-item {
    color:  #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.header-address-item:hover {
    color:  #404BBF;
}

.header-address-item:focus {
    color: #404BBF;
}

.header-icons-list {
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: flex;
}


/* Section 1. Hero */

.hero {
    padding: 72px 0;
    max-height: 432px;
    max-width: 767px;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/background-img.jpg');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto 72px;
    padding-left: 58px;
    padding-right: 58px;
    text-transform: capitalize;
    width: 288px;
    color:  #FFF;
    font-weight: 700;
}

.hero-btn {
    background:  #4D5AE5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color:  #FFF;
    font-weight: 500;
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}


/* Section 2. Our strengths */

.strengths-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.strengths-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.strengths-item-icon {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    display: none;
}

.strengths-item-title {
    color:  #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    align-self: center;
}

.strengths-item-text {
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500;
}


/* Section 3. Our team */

.team {
    background:  #F4F4FD;
}

.team .container {
    padding-left: 28px;
    padding-right: 28px;
}

.team-title {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    background-color:  #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item img {
    width: 100%;
}

.team-item-container {
    padding: 32px 0;
}

.team-item-title {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-item-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.team-item-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-icon-link:hover,
.team-item-icon-link:focus {
    background-color: #404BBF;
}

.team-item-icon-svg {
    fill: #f4f4fd;
}


/* Section 4. Our Portfolio */

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
    position: relative;
    overflow: hidden;
}

.portfolio-item-img img {
    width: 100%;
}

.portfolio-item:hover .portfolio-item-overlay {
    transform: translateY(0);
}

.portfolio-item-overlay {
    color: #F4F4FD;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    letter-spacing: 0.02em;
}


/* Footer */

.footer {
    background:  #2E2F42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-first-column {
    display: flex;
    flex-direction: column;
}

.logo-web-footer {
    display: block;
    margin-bottom: 18px;
    align-self: center;
}

.logo-studio-footer {
    color:  #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.32px;
    max-width: 264px;
}

.footer-second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.footer-subtitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;  
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31D0AA;
}

.footer-icons-svg {
    fill: #f4f4fd;
}

.footer-third-column {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-input {
    opacity: 0.3;
    width: 288px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
}

.footer-btn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    border-radius: 4px;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
}

.footer-btn-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

/* Modal form */

.backdrop {
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: none;
} 

.backdrop.is-open {
    display: block;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    padding: 72px 24px 24px 24px;
    min-width: 288px;
    min-height: 623px;
    flex-shrink: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    cursor: pointer;
    top: 24px;
    right: 24px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #FFFFFF;
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form-input {
    margin-bottom: 8px;
}

.modal-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal-input-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-form-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    opacity: 0.5;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-terms {
    margin-bottom: 24px;
}

.modal-terms-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-terms-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-checkbox:checked + .modal-terms-label .modal-terms-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-terms-link {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.modal-send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    margin: 24px auto 0;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Media. Resolution */

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url('../images/background-img@2.jpg');
    }
}


/* Media. Tablet */

@media screen and (min-width: 768px) {
    .container {
        max-width: 1127px;
    }

    /* Header. Logo+navigation */

    .header-nav {
        height: auto;
    }

    .header-nav .logo-web {
        padding-top: 26px;
        padding-bottom: 26px;
        position: static;
        margin-right: 120px;
    }

    .header-button {
        display: none;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: static;
        padding-left: 0;
        padding-bottom: 0;
    }

    .header-nav-list {
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .header-nav-item {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }

    .header-nav-item:active::after {
        width: 48px;
        height: 4px;
        flex-shrink: 0;
        background-color: #404BBF;
        content: "";
    }
    
    .header-nav-link {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 48px;
        border-radius: 2px;
        background-color: #404BBF;
    }

    .header-address {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 0;
    }
    
    .header-address-item {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1.1;
    }

    .header-icons-list {
        display: none;
    }

    /* Section 1. Hero */

    .hero {
        padding: 112px 0;
        max-height: 436px;
        max-width: 1157px;
    }
    
    .hero-title {
        margin: 0 auto 36px;
        padding-left: 0;
        padding-right: 0;
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    /* Section 2. Our strengths */

    .strengths-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    
    .strengths-item {
        width: calc((100% - 24px) / 2);
    }

    .strengths-item-title {
        align-self: flex-start;
    }

    /* Section 3. Our team */

    .team .container {
        padding-left: 108px;
        padding-right: 108px;
    }
    
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
    
    .team-item {
        width: calc((100% - 24px) / 2);
    }

    /* Section 4. Our Portfolio */

    .portfolio-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        flex-direction: row;
    }
    
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    /* Footer */

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: 72px;
        column-gap: 24px;
        padding-left: 108px;
    }
    
    .logo-web-footer {
        align-self: flex-start;
    }

    .footer-second-column {
        align-items: flex-start;
        padding-bottom: 32px;
    }

    .footer-third-column {
        align-items: flex-start;
    }
    
    .footer-form {
        gap: 24px;
        flex-direction: row;
    }

    .footer-input {
        width: 264px;
    }

    /* Modal form */

    .modal {
        width: 408px;
        min-height: 584px;
    }
}


/* Media. Desktop */

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        max-width: 1158px;
    }

    /* Header. Logo+navigation */

    .header-nav .logo-web {
        margin-right: 76px;
    }

    .header-address {
        flex-direction: row;
        gap: 40px;
    }
    
    .header-address-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
    /* Section 1. Hero */

    .hero {
        padding: 188px 0;
        max-height: 600px;
        max-width: 100%;
    }
    
    .hero-title {
        margin: 0 auto 48px;
    }

    /* Section 2. Our strengths */
    
    .strengths-list {
        flex-wrap: nowrap;
    }
    
    .strengths-item {
        width: calc((100% - 72px) / 4);
    }

    .strengths-item-icon {
        display: flex;
    }
    
    .strengths-item-title {
        align-self: flex-start;
        font-size: 20px;
        font-weight: 500;
    }
    
    .strengths-item-text {
        font-weight: 400;
    }
    
    /* Section 3. Our team */
    
    .team .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .team-list {
        flex-wrap: nowrap;
    }
    
    .team-item {
        width: calc((100% - 72px) / 4);
    }

    /* Section 4. Our Portfolio */
    
    .portfolio-list {
        row-gap: 48px;
    }
    
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    /* Footer */
    
    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
        padding-left: 15px;
        align-items: baseline;
    }

    .footer-first-column {
        margin-right: 120px;
    }
    
    .footer-second-column {
        margin-right: 80px;
    }
    
    .footer-input {
        opacity: 1;
    }
}